In [2]:
#Dependencies
import pandas as pd
import numpy as np
from pprint import pprint

In [3]:
#Import data
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [4]:
#Convert to dataframes
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [5]:
#Preview school data
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
#Preview student data
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [8]:
#Merge both dataframes
school_data_complete = pd.merge(school_data, student_data, how = "left", on=["school_name", "school_name"])

In [9]:
#Preview merged dataframe
school_data_complete.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [10]:
school_data_complete.describe()

,School ID,size,budget,Student ID,reading_score,math_score
count,39170.000000,39170.000000,3.917000e+04,39170.000000,39170.00000,39170.000000
mean,6.978172,3332.957110,2.117241e+06,19584.500000,81.87784,78.985371
std,4.444329,1323.914069,8.749987e+05,11307.549359,10.23958,12.309968
min,0.000000,427.000000,2.480870e+05,0.000000,63.00000,55.000000
25%,3.000000,1858.000000,1.081356e+06,9792.250000,73.00000,69.000000
50%,7.000000,2949.000000,1.910635e+06,19584.500000,82.00000,79.000000
75%,11.000000,4635.000000,3.022020e+06,29376.750000,91.00000,89.000000
max,14.000000,4976.000000,3.124928e+06,39169.000000,99.00000,99.000000

In [469]:
school_data_complete.count()

School ID        39170
school_name      39170
type             39170
size             39170
budget           39170
Student ID       39170
student_name     39170
gender           39170
grade            39170
reading_score    39170
math_score       39170
dtype: int64

In [470]:
#Calculate the total number of schools
total_schools_count = school_data["school_name"].nunique()
total_schools_count

15

In [471]:
#Calculate the total number of students
total_students = student_data["Student ID"].count()
total_students

39170

In [516]:
#Calculate the total budget
budgets = school_data["budget"].nunique()
budgets

15

In [517]:
total_budget = school_data["budget"].unique().sum()
total_budget

24649428

In [474]:
#Calculate the average math score
average_math_score = round(student_data["math_score"].mean(),2)
average_math_score

78.99

In [475]:
#Calculate the average reading score
average_reading_score = round(student_data["reading_score"].mean(),2)
average_reading_score

81.88

In [476]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_average = round((average_math_score+ average_reading_score)/2,2)
overall_average

80.44

In [477]:
#Calculate the percentage of students with a passing math score (70 or greater)
total_passing_math = (student_data["math_score"]>=70).sum()
percentage_passing_math = round((total_passing_math/total_students)*100,2)
percentage_passing_math

74.98

In [478]:
#Calculate the percentage of students with a passing reading score (70 or greater)
total_passing_reading = (student_data["reading_score"]>=70).sum()
percentage_passing_reading = round((total_passing_reading/total_students)*100,2)
percentage_passing_reading

85.81

In [479]:
#Create a dataframe to hold the above results
#Optional: give the displayed data cleaner formatting
district_summary = pd.DataFrame ({"Total Schools":[total_schools_count],
                                  "Total Students": [total_students],
                                  "Total Budget": [total_budget],
                                  "Average Math Score": [average_math_score],
                                  "Average Reading Score": [average_reading_score],
                                  "% Passing Math": [percentage_passing_math],
                                  "% Passing Reading": [percentage_passing_reading],
                                  "% Overall Passing Rate": [overall_average]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.44

In [480]:
#Create an overview table that summarizes key metrics about each school, including:

#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget


#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)

#Create a dataframe to hold the above results

In [594]:
budgets = school_data[["school_name", "size", "budget"]]
budgets = budgets.set_index("school_name")

per_student_budget = budgets["budget"]/budgets["size"]
per_student_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [528]:
averages = student_data[['school_name', 'math_score', 'reading_score', 'student_name']].groupby('school_name')
averages

In [596]:
math_averages = round(averages["math_score"].mean(),2)
math_averages

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [530]:
reading_averages = round(averages["reading_score"].mean(),2)
reading_averages

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [599]:
percentages = student_data[["school_name", "math_score", "reading_score", "student_name"]]
percentages = percentages.set_index("school_name")

total_passing_math = len(percentages.loc[(percentages["math_score"]>=70)])
total_passing_math

percentage_passing_math = round(total_passing_math/len(percentages["student_name"])*100,2)
percentage_passing_math

total_passing_reading = len(percentages.loc[(percentages["reading_score"]>=70)])
total_passing_reading

percentage_passing_reading = round(total_passing_reading/len(percentages["student_name"])*100,2)
percentage_passing_reading

85.81

In [600]:
overall_passing_rate = round((percentage_passing_math + percentage_passing_reading)/2,2)
overall_passing_rate

80.4

In [602]:
summary = pd.merge(math_averages, reading_averages, on="school_name")
summary

                       math_score  reading_score
school_name
Bailey High School          77.05          81.03
Cabrera High School         83.06          83.98
Figueroa High School        76.71          81.16
Ford High School            77.10          80.75
Griffin High School         83.35          83.82
Hernandez High School       77.29          80.93
Holden High School          83.80          83.81
Huang High School           76.63          81.18
Johnson High School         77.07          80.97
Pena High School            83.84          84.04
Rodriguez High School       76.84          80.74
Shelton High School         83.36          83.73
Thomas High School          83.42          83.85
Wilson High School          83.27          83.99
Wright High School          83.68          83.96

In [603]:
summary2 = pd.merge(per_student_budget, summary, on="school_name")
summary2

ValueError: Cannot merge a Series without a name